@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url('images/bike_ride.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}